<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cargar producto</h1>
    <form action="">

        <input type="text" id="id" placeholder="id"> <br><br>
        <input type="text" id="title" placeholder="title"> <br><br>
        <input type="text" id="description" placeholder="description"><br><br>
        <input type="text" id="code" placeholder="code"><br><br>
        <input type="text" id="price" placeholder="price"><br><br>
        <input type="text" id="stock" placeholder="stock"><br><br>
        <input type="text" id="category" placeholder="category"><br><br>
        <button type="submit">registar</button>

    </form>
</body>
</html>