<div>
    <h1>Enviar String</h1>
</div>
<form action="http://localhost:8080/api" method="post">
    <input type="text" placeholder="string" name="input"> 
    <input type="submit" value="enviar">
    
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>