<div>
    <h1>Enviar String</h1>
</div>
<input type="text" placeholder="string" name='input' id="input"> 
<button id="enviar">Enviar</button>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>