<div>
    <h1>Registrar usuario</h1>
</div>

<form action="http://localhost:8080/api" method="post">
    <input type="text" placeholder="nombre" name="inputname"> 
    <br>
    <br>
    <input type="text" placeholder="mail" name="inputmail">
    <br>
    <br>
    <input type="text" placeholder="contraseña" name="inpuntcontraseña">
    <input type="submit" value="registrar">
    
</form>

<script>src="src/public/js/register.js"</script>